<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink] = "['/home']">Rick & Morty</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Species
            </a>
            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" (click)="showFilter('Species', 'Human')">Human</a></li>
              <li><a class="dropdown-item" (click)="showFilter('Species', 'Humanoid')">Humanoid</a></li>
              <li><a class="dropdown-item"(click)="showFilter('Species', 'Mythological Creature')">Mythological Creature</a></li>
              <li><a class="dropdown-item"(click)="showFilter('Species', 'Alien')">Alien</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Status
            </a>
            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" (click)="showFilter('Status', 'Alive')">Alive</a></li>
              <li><a class="dropdown-item" (click)="showFilter('Status', 'Dead')">Dead</a></li>
              <li><a class="dropdown-item" (click)="showFilter('Status', 'unknown')">Unknown</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  